.main.title{

     width: 100%;
     top: 0;
     left: 0;
     background: rgb(141, 228, 235);
     font-weight: bold;
     text-align: center;
     padding: 10px 15px 15px 1px;
     margin-top: 0px;
     font-family: 'Times New Roman', Times, serif;

}

.page{

    background: #D7FCFF;

}

.center{

    text-align: center;
    font-size: 20px;

}